@charset "utf-8";
/**/
p.c5 {
    text-align: right
    }
span.c4 {
    font-size: 144%
    }
col.c3 {
    text-align: left
    }
col.c2 {
    text-align: right
    }
div.c1 {
    text-align: center
    }
/**/